 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1011px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 730px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-22 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-23 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-27 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-27 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-28 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-28 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-29 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-29 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-30 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-30 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-31 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-32 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-33 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-34 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-35 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-36 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-37 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-37 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-38 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-38 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-39 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-39 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-40 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-40 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-41 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-41 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-42 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-42 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-43 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-43 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-44 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-45 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-45 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-46 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-46 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-47 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-47 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-48 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-48 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-49 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-49 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-50 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-50 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-51 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-51 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-52 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-52 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-53 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-53 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-54 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-54 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-55 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-55 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-56 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-56 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-57 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-57 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-58 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-58 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-59 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-59 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-60 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-60 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-61 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-61 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-62 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-62 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-63 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-63 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-64 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-64 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-65 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-65 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-66 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-66 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-67 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-67 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-68 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-68 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-69 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-69 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-70 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-70 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-71 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-71 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-72 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-72 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-73 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-73 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-74 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-74 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-75 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-75 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-76 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-76 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-77 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-77 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-78 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-78 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-79 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-79 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-80 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-80 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-81 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-81 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-82 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-82 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-83 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-83 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-84 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-84 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-85 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-85 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-86 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-86 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-87 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-87 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-88 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-88 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-89 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-89 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-90 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-90 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-91 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-91 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-92 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-92 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-93 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-93 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-94 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-94 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-95 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-95 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-96 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-96 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-97 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-97 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-98 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-98 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-99 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-99 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-100 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-100 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-101 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-101 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-102 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-102 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-103 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-103 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-104 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-104 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-105 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-105 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-106 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-106 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-107 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-107 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-108 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-108 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-109 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-109 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-110 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-110 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-111 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-111 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-112 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-112 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-113 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-113 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-114 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-114 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-115 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-115 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-116 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-116 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-117 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-117 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-118 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-118 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-119 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-119 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-120 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-120 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-121 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-121 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-122 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-122 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-123 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-123 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-124 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-124 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-125 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-125 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-126 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-126 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-127 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-127 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-128 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-128 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-37 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-38 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-39 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-40 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-41 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-42 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-43 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-44 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-45 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-46 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-47 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-48 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-49 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-50 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-51 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-52 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-53 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-54 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-55 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-56 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-57 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-58 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-59 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-60 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-61 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-62 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-63 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-64 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-65 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-66 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-67 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-68 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-69 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-70 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-71 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-72 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-73 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-74 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-75 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-76 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-77 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-78 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-79 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-80 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-81 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-82 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-83 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-84 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-85 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-86 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-87 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-88 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-89 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-90 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-91 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-92 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-93 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-94 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-95 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-96 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-97 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-98 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-99 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-100 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-101 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-102 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-103 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-104 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-105 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-106 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-107 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-108 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-109 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-110 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-111 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-112 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-113 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-114 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-115 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-116 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-117 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-118 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-119 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-120 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-121 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-122 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-123 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-124 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-125 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-126 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-127 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-128 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-gallery-1 {
    margin-bottom: -182px;
    height: 500px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-21 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-22 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-23 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-24 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-25 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-26 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-27 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-28 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-29 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-30 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-31 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-32 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-33 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-34 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-35 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-36 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-37 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-38 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-39 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-40 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-41 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-42 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-43 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-44 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-45 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-46 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-47 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-48 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-49 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-50 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-51 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-52 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-53 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-54 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-55 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-56 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-57 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-58 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-59 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-60 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-81 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-82 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-83 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-84 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-85 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-86 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-87 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-88 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-89 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-90 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-91 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-92 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-93 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-94 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-95 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-96 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-97 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-98 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-99 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-100 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-101 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-102 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-103 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-104 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-105 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-106 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-107 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-108 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-109 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-110 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-111 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-112 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-113 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-114 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-115 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-116 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-117 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-118 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-119 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-120 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-121 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-122 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-123 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-124 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-125 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-126 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-127 {
    height: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-128 {
    height: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-7 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-8 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-9 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-10 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-11 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-12 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-13 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-14 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-15 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-16 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-17 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-18 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-19 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-20 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-21 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-22 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-23 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-24 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-25 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-26 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-27 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-28 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-29 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-30 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-31 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-32 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-33 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-34 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 180px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-gallery-1 {
    height: 335px;
    margin-top: 20px;
    width: auto;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-21 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-22 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-23 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-24 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-25 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-26 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-27 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-28 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-29 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-30 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-31 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-32 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-33 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-34 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-35 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-36 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-37 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-38 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-39 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-40 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-41 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-42 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-43 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-44 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-45 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-46 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-47 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-48 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-49 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-50 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-51 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-52 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-53 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-54 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-55 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-56 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-57 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-58 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-59 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-60 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-81 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-82 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-83 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-84 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-85 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-86 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-87 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-88 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-89 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-90 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-91 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-92 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-93 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-94 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-95 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-96 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-97 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-98 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-99 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-100 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-101 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-102 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-103 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-104 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-105 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-106 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-107 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-108 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-109 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-110 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-111 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-112 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-113 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-114 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-115 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-116 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-117 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-118 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-119 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-120 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-121 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-122 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-123 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-124 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-125 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-126 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-127 {
    width: 80px;
  }

  .u-section-1 .u-carousel-thumbnail-128 {
    width: 80px;
  }
}